@import '../../main.scss';

.discount-tag {
  font-weight: 700;
  background-color: $primary;
  color: $text-primary;
  width: max-content;
  border-radius: 8px 8px 0;
  padding: 3px 4px 1px 4px;
  z-index: 2;
  font-size: 12px;
}

@media screen and (max-width: 500px) {
  .discount-tag {
    font-size: 10px;
  }
}
