@import '../../main.scss';

.product-grid-container {
  padding-inline: 5vw;
  .product-grid {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    .product-card {
      display: flex;
      flex-direction: column;
      background-color: $background-tertiary;
      border-radius: 20px;
      padding-bottom: 1rem;
      padding-inline: 1rem;
      cursor: pointer;
      .link-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image-container {
          align-self: center;
          width: 10rem;
          height: 10rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem;
          margin-top: 1rem;
          img {
            width: 100%;
            height: 100%;
            align-self: center;
            border-radius: 99999px;
            object-fit: cover;
            &:hover {
              transform: scale(1.05);
              transition: transform 0.3s;
            }
          }
        }
        h3 {
          font-size: 1rem;
          color: $text-primary;
          margin-bottom: 0.5rem;
        }
        .regular-price {
          font-size: 1.5rem;
          color: $text-secondary;
          margin-bottom: 1rem;
        }
        .price-section {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          position: absolute;
          top: 0;
          left: 0;
          .discount-container {
            position: absolute;
            top: 0.8rem;
            left: 0;
          }
        }
      }
      .cart-box-container {
        align-self: center;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .product-grid-container {
    padding-inline: 5vw;
    .product-grid {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 1rem;
      .product-card {
        display: flex;
        flex-direction: column;
        background-color: $background-tertiary;
        border-radius: 20px;
        padding-bottom: 1rem;
        padding-inline: 1rem;
        cursor: pointer;
        .link-container {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          .image-container {
            align-self: center;
            width: 8rem;
            height: 8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;
            margin-top: 1rem;
            img {
              width: 100%;
              height: 100%;
              align-self: center;
              border-radius: 99999px;
              object-fit: cover;
              &:hover {
                transform: scale(1.05);
                transition: transform 0.3s;
              }
            }
          }
          h3 {
            font-size: 1rem;
            color: $text-primary;
            margin-bottom: 0.5rem;
          }
          .regular-price {
            font-size: 1rem;
            color: $text-secondary;
            margin-bottom: 0.5rem;
          }
          .price-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            position: absolute;
            top: 0;
            left: 0;
            .discount-container {
              position: absolute;
              top: 0.8rem;
              left: 0;
            }
          }
        }
        .cart-box-container {
          align-self: center;
        }
      }
    }
  }
}
